# Dependencies
node_modules
.pnpm-store

# Production build outputs
dist
build
.next

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE & OS files
.DS_Store
Thumbs.db
.vscode
.idea
*.log

# Prisma generated
prisma/*.db
prisma/*.db-journal
